@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  cursor: none;
  /* Hide default cursor */
}

@media (pointer: coarse) {
  body {
    cursor: auto;
    /* Restore default cursor on touch devices */
  }
}